.card{
    height: 60vh;
    margin: 25px;
    padding : 25px;
    background-color: lightgray;
}

.center{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}

.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

h4,h6{
    font-weight: 400    ;
}

th{
    color: black;
}

.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: lightgray;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}

.center .btn{
    font-size: 14px !important;
    margin-top: 15px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
    background-color: black;
}

.exteriorcontainer{
    background-color: gray;
}

.cart-product{
    background-color: lightgray;
}

.shopnow{
    background-color: black;
    border-radius: 5px;
    color: white;
    border:none;
    height: 6vh;
}

.shopnow:hover{
    background-color: goldenrod;
}

